*   {

}

:root {

}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: khaki(117, 79, 35);
    }

header {
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0;
    font-size: large;
}

main {

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size:1.7vw;
}

#startBtn {
    border: none;
background-color: gray(63, 167, 63 );
border-radius: 25px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
color: hsl(0, 0%, 0%);
display: inline-block;
font-size: 22px;
font-weight: 600;
line-height: 22px;
margin: 16px 16px 16px 20px;
padding: 14px 34px;
text-align: center;
cursor: pointer;
}

#questionChoices {
    display: flex;
    flex-direction: column;

}

@media screen and {max-width: 900;
    
}

